@{
    ViewBag.Title = "Contact";
}

    <h2 style="padding-top: 0.5em;">Credit </h2>

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Project Author & Design
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fab fa-github"></i><a href="https://github.com/Rajangrg">   Rajan Gurung</a></li>
                </ul>
            </div>
        </div>
    
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    API Author & Credit
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fab fa-github"></i><a href="https://github.com/javieraviles">   Javier Aviles</a></li>
                </ul>
            </div>
            </div>
        </div>
